<h1>The Record Shop</h1>

<table>
  <tr>
    <th>Artist name:</th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Album name:</th>
    <th></th>
    <th>Stock level</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Buy price</th>
    <th></th>
    <th>Sell price</th>
    <th></th>
    <th>Product markup</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.name %></a></td>
    <td></td>
    <td><%= album.stock_level %></td>
    <td></td>
    <td><%= album.quantity %> units</td>
    <td></td>
    <td>£<%= album.buy_price %></td>
    <td></td>
    <td>£<%= album.sell_price %></td>
    <td></td>
    <td>£<%= album.markup_price %></td>
    <td></td>
    <td> <%= album.genre %></td>
  </tr>
  <%end%>
</table>
