<h1>Edit albums</h1>

<form action="/albums/<%= @album.id %>/edit" method="post">
  <label for="Name">Name:</label>
  <input type="text" id="name"  name="name" required=true value="<%= @album.name %>">

  <label for="Quantity">Quantity</label>
  <input type="number" id="quantity" name="quantity" value="<%= @album.quantity %>" min="1" max="1000000">

  <label for="Sell price">Sell price</label>
  <input type="number" name="sell_price" value="<%= @album.sell_price %>" min="1" required=true>

  <label for="Buy price">Buy price</label>
  <input type="number" name="buy_price" value="<%= @album.buy_price %>" min="1" required=true>


  <label for="URL">URL</label>
  <input type="text" id="url" name="url" value="<%= @album.url %>">

  <label for="genre">genre</label>
  <input type="text" name="genre" value="<%= @album.genre %>">


  <label for="Artist">Artist</label>
  <select name="artist_id" id="Artist">
    <% @artists.each do |artist| %>
    <option value="<%= artist.id %>"><%=artist.name%></option>
    <% end %>
  </select>

  <input type="submit" value="Edit Album">
</form>
