<h1>Album name : <%= @albums.name %></h1>

<p>Quantity: <%= @albums.quantity %></p>

<p>Buy price <%= @albums.buy_price %></p>

<p>Sell price <%= @albums.sell_price %></p>

<p>Genre <%= @albums.genre %></p>

<img src= <%= @albums.url %> alt="">

<p>
  <form action="/albums/<%= @albums.id %>/delete" method="POST">
    <input type="submit" value="delete" />
  </form>
</p>
<p>
<a href="/albums/<%= @albums.id %>/edit">Edit</a>
</p>
